<% if @post.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

    <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="field-group">
  <%= f.label :title %>
  <%= f.text_field :title, class: 'field-control' %>
</div>
<div>
  <%= f.label :author %>
  <%= f.select :author_id, Author.all.map { |a| [a.name, a.id] }, include_blank: "None" %>
</div>
<div>
  <%= f.label :body %>
  <%= f.text_area :body, rows: 10 %>
</div>
<div>
  <%= f.label :image %>
  <%= f.text_field :image %>
</div>
